/*==========================================================

                    START RESPONSIVE

===========================================================*/
/* Minimize Responsive */
@media (min-height: 568px) and (max-height: 667px) {
    /* Start Main Level Containers */
    #main-container {
        width: 50.7%;
    }

    /* Start Stats Container */
    .stats-container p {
        font-size: 1vw;
    }

    /* Start Game Level Containers */
    .easy-container .card, .easy-container .flip-container, 
    .easy-container .front, .easy-contianer .back {
        height: 9.5vw;
        width: 9.5vw;
    }
    .medium-container .card, .medium-container .flip-container, 
    .medium-container .front, .medium-container .back {
        height: 9.5vw;
        width: 7.6vw;
    }
    .hard-container .card, .hard-container .flip-container, 
    .hard-container .front, .hard-container .back {
        height: 9.5vw;
        width: 6.33vw;
    }
}

/* iPhone 5, 6, and 7 Portrait Resolution */
@media (min-height: 520px) and (max-width: 560px) {
    /* Start Main Level Containers */
    #main-container {
        display: block;
        width: 100%;
    }
    #right-container {
        display: none;
    }
    #top-container {
        display: flex;
    }

    /* Top Logo Contianer */
    #top-logo-container {
        background: url(../assets/images/logo.png) no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 15%;
        left: 0;
        z-index: 1;
        width: 38%;
        height: 100%;
    }

    /* Start Stats Container */
    .stats-container {
        background: url(../assets/images/top-stats-bg.png) no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        bottom: 0;
        left: 45%;
        width: 25%;
        height: 100%;
    }
    .stats-container p {
        font-size: 2.75vw;
        margin: auto;
    }
    .stats-container span {
        padding-left: 3px;
    }
    .level-container, .attempts-container, .accuracy-container {
        background-position: center;
        background-size: 100% 80%;
        margin: 0;
        width: 100%;
        height: 33%;
    }

    /* Start Volume, Instructions, and Restart Containers */
    .volume-container, .restart-container, .info-container {
        font-size: 5vw;
        right: 2%;
    }
    .restart-container {
        top: 0;
        right: 23%;
    }
    .info-container {
        top: 0;
        right: 14%;
    }

    /* Start Game Level Containers */
    .easy-container, .medium-container, .hard-container {
        width: 100%;
    }
    .easy-container .card, .easy-container .flip-container, 
    .easy-container .front, .easy-container .back {
        height: 25vw;
        width: 25vw;
    }
    .medium-container .card, .medium-container .flip-container, 
    .medium-container .front, .medium-container .back {
        height: 25vw;
        width: 20vw;
    }
    .hard-container .card, .hard-container .flip-container, 
    .hard-container .front, .hard-container .back {
        height: 25vw;
        width: 16.6vw;
    }
}

/* Small Screen Resolution */
@media (max-height: 567px) and (min-width: 768px) {
    /* Start Main Level Containers */
    #main-container {
        width: 37.36%;
    }
    
    /* Start Stats Container */
    .stats-container p {
        font-size: .8vw;
    }
    
    /* Start Game Level Containers */
    .easy-container .card, .easy-container .flip-container, 
    .easy-container .front, .easy-contianer .back {
        height: 7vw;
        width: 7vw;
    }
    .medium-container .card, .medium-container .flip-container, 
    .medium-container .front, .medium-container .back {
        height: 7vw;
        width: 5.6vw;
    }
    .hard-container .card, .hard-container .flip-container, 
    .hard-container .front, .hard-container .back {
        height: 7vw;
        width: 4.67vw;
    }
}

/* iPhone 5, 6, and 7 Landscape Resolution */
@media (max-height: 414px) and (max-width: 736px) {
    /* Start Main Level Containers */
    #main-container {
        width: 61.4%;
    }

    /* Start Stats Container */
    .stats-container p {
        font-size: 1.25vw;
    }

    /* Start Game Level Containers */
    .easy-container .card, .easy-container .flip-container, 
    .easy-container .front, .easy-contianer .back {
        height: 11.5vw;
        width: 11.5vw;
    }
    .medium-container .card, .medium-container .flip-container, 
    .medium-container .front, .medium-container .back {
        height: 11.5vw;
        width: 9.2vw;
    }
    .hard-container .card, .hard-container .flip-container, 
    .hard-container .front, .hard-container .back {
        height: 11.5vw;
        width: 7.67vw;
    }
}