/* Body and Container */
body {
    margin: 0;
    font-family: sans-serif;
    color: #FFF!important;
}
.container {
    display: flex;
    background-color: #222;
}
.row {
    width: 14vw;
    height: 100vh;
    box-sizing: border-box;
    box-shadow: 2px 0 8px #000;
}

/* Logo */
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 13vw;
    padding: 10px 0 0 5px;
}

/* Volume Control */
.volume {
    font-size: 1.5vw;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.volume > .fa-volume-up {
    padding: 15px;
}
.fa:hover {
    color: #31c8f8;
}

/* Game Area and Card */
#game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    background: rgba(0,0,0,.7);
    padding: 10px 0 0 10px;
    cursor: pointer;
}
#game > .card {
    flex: 14%;
    margin: 0 10px 10px 0;
    height: 32vh;
    display: block;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}
#game > .card > .front, #game > .card > .back  {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    background-size: 100% 100%;
    transform: rotate3d(0, 1, 0, -180deg);
}
#game > .card > .back {
    background-image: url('../assets/images/back.png');
}

/* Card Flip Animation */
.card.flipped {
    transform: rotate3d(0, 1, 0, 180deg);
}

/* Stats */
.stats {
    box-shadow: 4px 0 16px #000;
    height: 32vh;
}
.stats > h5 {
    padding-left: 20px;
    margin: 10px 0;
    font-size: 1.25vw;
    color: rgb(139, 139, 139);
}
.stats > p {
    font-size: 1.5vw;
    margin-top: 10px;
    padding: 5px 5px 15px 17px;
}
.stats > ul {
    padding-left: 0;
}
.stats > ul > li {
    padding: 15px 0px 5px 20px;
    list-style-type: none;
    font-size: 1.25vw;
    color: #FFF;
}
.stats > ul > li > span {
    margin-left: 20px;
    padding: 2px 5px;
    border-radius: 48%;
    font-size: 1.25vw;
}
.stats > ul > li > .fa-refresh {
    cursor: pointer;
}

/* Modal */
#modalShadow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
}
#modalContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fadein 3s;
    display: none;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}