/* Body and Container */
body {
    margin: 0;
    font-family: sans-serif;
    color: #FFF!important;
    background: #222;
}
.container {
    display: flex;
    
}
.row {
    width: 12vw;
    box-sizing: border-box;
    box-shadow: 2px 0 8px #000;
}

/* Logo */
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 11vw;
    padding: 10px 0 0 5px;
}

/* Volume Control */
.volume {
    font-size: 1.5vw;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.volume .fa-volume-up {
    padding: 15px;
}
.fa:hover {
    color: #31c8f8;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* Game Area and Card */
#game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    height: 100vh;
    padding: 5px;
    cursor: pointer;
    background: rgb(24, 24, 24);
}
#game > .card {
    flex: 14%;
    margin: 0 5px 5px 0;
    height: 32vh;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}
#game > .card > .front, #game > .card > .back  {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    background-size: 100% 100%;
    transform: rotate3d(0, 1, 0, -180deg);
}
#game > .card > .back {
    background-image: url('../assets/images/back.png');
}

/* Card Flip Animation */
.card.flipped {
    transform: rotate3d(0, 1, 0, 180deg);
}

/* Stats */
.stats {
    box-shadow: 4px 0 16px #000;
    height: 32vh;
    padding: 10px;
}
.stats h1 {
    font-size: 1.75vw;
}
.stats h2 {
    font-size: 1.5vw;
    color: rgb(139, 139, 139);
}
.stats p {
    font-size: 1.25vw;
    padding-top: 5px;
}
.stats .fa {
    cursor: pointer;
}

/* Modal */
#modalShadow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
}
#modalContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fadein 3s;
    display: none;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 535px) {
    .row {
        width: 25vw;
    }
    .row:nth-child(1) {
        display: none;
    }
    #game > .card {
        flex: 25%;
        height: 15vh;
        margin: 0 5px 10px 5px;
    }
    .stats {
        padding: 2px;
        text-align: center;
    }
    .stats p, .stats h1, .stats h2, .stats #gamesPlayed {
        font-size: 3.5vw;
        padding-top: 5px;
    }
}