body {
    margin: 0;
    background: #222;
    font-family: sans-serif;
    background: url(assets/images/bgimage.png) no-repeat center center fixed;
    background-size: cover;
    color: #00F7FF!important;
}
.main {
    display: flex;
}
.aside {
    width: 14vw;
    height: 100vh;
    box-sizing: border-box;
    box-shadow: 2px 0 8px #000;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 13vw;
    padding: 10px 0 0 20px;
}
.volume {
    font-size: 1.5vw;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.fa-volume-up {
    padding: 15px;
}
.fa-refresh {
    cursor: pointer;
}
#gameArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    background: rgba(0,0,0,.7);
    padding: 10px 0 0 10px;
    cursor: pointer;
}
#gameArea .card {
    flex: 14%;
    margin: 0 10px 10px 0;
    height: 32vh;
    display: block;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}
#gameArea .card .front, #gameArea .card .back  {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    background-size: 100% 100%;
    transform: rotate3d(0, 1, 0, -180deg);
}
#gameArea .card .back {
    background-image: url('assets/images/back.png');
}
.flipped {
    transform: rotate3d(0, 1, 0, 180deg);
}
.dashboard{
    box-shadow: 4px 0 16px #000;
    height: 32vh;
}
.dashboard p {
    font-size: 1.8vw;
    margin-top: 10px;
    padding: 5px 5px 15px 17px;
}
.dashboard h5 {
    padding-left: 20px;
    margin: 10px 0;
    font-size: 1.25vw;
    color: #D3D1D1;
}
.dashboard ul {
    padding-left: 0;
}
.dashboard ul li {
    padding: 15px 0px 5px 20px;
    list-style-type: none;
    font-size: 1.5vw;
    color: #FFF;
}
.dashboard ul li span {
    margin-left: 20px;
    padding: 2px 5px;
    border-radius: 48%;
    font-size: 1.5vw;
}
.dashboard .nu {
    padding-left: 8px;
    padding-right: 8px
}
.modalWin {
    transform: translate(-25%,-5%)
}